<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/Logs/internal-nlog/internal-nlog-AspNetCore.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="AllLog" xsi:type="File" fileName="${basedir}/Logs/Log/${shortdate}.txt"/>
		<target name="TraceLog" xsi:type="File" fileName="${basedir}/Logs/Trace/${shortdate}.txt"/>
		<target name="DebugLog" xsi:type="File" fileName="${basedir}/Logs/Debug/${shortdate}.txt"/>
		<target name="ErrorLog" xsi:type="File" fileName="${basedir}/Logs/Error/${shortdate}.txt"/>
	</targets>

	<rules>
		<logger name="Microsoft.AspNetCore.Mvc.*" minlevel="Trace" maxlevel="Info" final="true" />
		<logger name="Microsoft.AspNetCore.Routing.*" minlevel="Trace" maxlevel="Info" final="true" />
		<logger name="Microsoft.AspNetCore.Hosting.*" minlevel="Trace" maxlevel="Info" final="true" />
		<logger name="Microsoft.*" minlevel="Trace" maxlevel="Debug" final="true" />
		<logger name="Microsoft.*" minlevel="Info" writeTo="AllLog" final="true" />
		<logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="AllLog" />
		<logger name="*" levels="Debug" writeTo="DebugLog" />
		<logger name="*" levels="Trace" writeTo="TraceLog" />
		<logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="ErrorLog" />
	</rules>
</nlog>
